<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" ></script>
	<title>PlantApp</title>
</head>

<body>
	<h1>Lisää lajike</h1>
	<div>
		<form th:object="${family}" th:action="@{savefam}" action="#" method="post">
		
			<label for="familyName">Lajikkeen nimi</label>
			<input type="text" id="familyName" th:field="*{familyName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="care">Hoito-ohjeet</label>
			<input type="text" id="care" th:field="*{care}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-success" type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>

</html>